body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Verdana", Helvetica, Arial, sans-serif; background:#9d92aa;}
a {text-decoration: none;}
.odd {
    width: 90%;
    max-width: 896px;
    max-height: 1500px;
    margin: 10px auto;
    border: 2px dotted #35204e;
}
.even {
    width: 90%;
    max-width: 896px;
    max-height: 900px;
    margin: 10px auto;
    border: 2px dotted #b19cd9;
}
.content { /* Get the text centered */
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    font-size: 13px;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.title { /* For the project titles */
    text-align:center;
    font-weight:bold;
}

.mini { /* For the images */
    float:left;
    width: 32.5%;
    border: 2px dotted #35204e;
}
.macro { /* For demos */
    width: 450px;
    margin: 0 auto;
}

.toggleMenu {
    display:  none;
    background: #48355e;
    padding: 10px 15px;
    color: #c8c0d8;
}
.nav {
    list-style: none;
     *zoom: 1;
     background:#35204e;
     position: relative;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#9d92aa; /* A very bright font color */
    *zoom: 1;
}
.nav > li {
    float: left;
    border-top: 1px solid #35204e;
    z-index: 200;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
    z-index: 100;
}
.nav li li a { /* The second layer of tabs */
    display: block;
    background: #5f4c75;
    color: #35204e;
    position: relative;
    z-index:100;
    border-top: 1px solid #7a6a8d; /* do not make much darker than the BG */
}
.nav li li li a {
    background:#a097a7;
    color: #5f4c75;
    z-index:200;
    border-top: 1px solid #9d92aa;
}
/* position the submenus relative to their parents when the .hover class is present */
.nav li {
    position: relative;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}

@media screen and (min-width: 768px) {
    .nav > li {
        text-align:center;
        width: 16.6666666667%;
    }
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .mini {
        width: 100%;
    }
}
