body, nav, ul, li, a  {margin: 0; padding: 0;}
body {font-family: "Verdana", Helvetica, Arial, sans-serif; background:#e9e3f4;}
a {text-decoration: none;}
.odd {
    width: 90%;
    max-width: 896px;
    /*max-height: 1500px;*/
    margin: 10px auto;
    border: 2px dotted #35204e;
}
.even {
    width: 90%;
    max-width: 896px;
    max-height: 500px;
    margin: 10px auto;
    /*border: 2px dotted #b19cd9;*/
}

.small {
    width: 90%;
    margin: 10px auto;
    /*border: 2px dotted #b19cd9;*/
}

.content { /* Get the text centered */
    width: 95%;
    height: 95%;
    margin: auto;
    display: block;
    font-size: 13px;
}
.container {
    width: 90%;
    max-width: 900px;
    margin: 10px auto;
}
.title { /* For the project titles */
    top: 10px;
    margin: 0 auto;
    border: 2px dotted #000000;
}

.title img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mini { /* For the images */
    float:left;
    width: 32.5%;
    border: 2px dotted #35204e;
}
.demo { /* For demos */
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    margin: 0 auto;
    overflow: hidden;
} /* http://www.smashingmagazine.com/2014/02/27/making-embedded-content-work-in-responsive-design/ */

.demo iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.demo img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 605px;
    max-height: 477px;
    width: 79%;
    height: 100%;
}

.icon-sleepy {
    border-radius: 10px; /* give rounded corners to the icons */
    margin: 5px;
    background-image: url('../images/icons/SleepyHead.png');
    background-size:contain;
    width: 64px;
    height: 64px;
    top: 5px;
    left: 5px;
}

.icon-bye {
    border-radius: 10px; /* give rounded corners to the icons */
    margin: 5px;
    background-image: url('../images/icons/BuyBuyBye.png');
    background-size:contain;
    width: 64px;
    height: 64px;
    top: 5px;
    left: 5px;
}

.toggleMenu { /* the menu button that appears on small screens */
    display:  none;
    background: #7e5899;
    padding: 10px 15px;
    color: #f4f1fa;
}
.nav { /* the navigation bar */
    list-style: none;
     *zoom: 1;
     background:#7e5899;
     position: relative;
}
.nav:before,
.nav:after {
    content: " "; 
    display: table; 
}
.nav:after {
    clear: both;
}
.nav ul {
    list-style: none;
    width: 9em;
}
.nav a {
    padding: 10px 15px;
    color:#f4f1fa; /* A very bright font color */
    *zoom: 1;
}
.nav > li {
    float: left;
    border-top: 1px solid #7e5899;
    z-index: 200;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
    z-index: 100;
}
.nav li li a { /* The second layer of tabs */
    display: block;
    background: #9979ad;
    color: #5f4c75;
    position: relative;
    z-index:100;
    border-top: 1px solid #9979ad; /* do not make much darker than the BG */
}
.nav li li li a {
    background:#c8afd1;
    color: #35204e;
    z-index:200;
    border-top: 1px solid #c8afd1;
}
/* position the submenus relative to their parents when the .hover class is present */
.nav li {
    position: relative;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}

@media screen and (min-width: 768px) {
    .nav > li {
        text-align:center;
        width: 16.6666666667%;
    }
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
    }
    .nav li li .parent {
        background-image: url("images/downArrow.png");
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }
    .mini {
        width: 100%;
    }
    .even {
        width: 100%; /* otherwise, the picture will be too small on mobile */
    }
}
