h1 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    color: #e1bfff;
    font-size: 48px;
    text-align: center
}

body {
    background-color: white;
}

.button{
    display:inline-block;
    width:10px;
    height:10px;
    margin: 0 auto;
    border-radius:50px;
    line-height:100px;
    background:#d3d3d3;
}
.button:hover{
    background:#fff;
}


div.img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}	

div.img img {
    border-radius: 25px; /* give rounded corners to the icons */
    display: inline;
    margin: 5px;
}

div.img a:hover img {
    transition: 0.7s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

div.desc {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  width: 120px;
  margin: 5px;
  color: #e1bfff;
}
